:root{
    --background-color-dark: #000000;
    --background-color-light: #323232;
    --text-color: #ffffff;
    --color-bright: #7FCD91;
    --text-font: 'quicksand';
    --text-dark: '#000000';
}
body{
    margin: 0;
    padding: 0;
    height: 99vh;
    background-color:#111111 ;
    width: 100%;
    font-family: var(--text-font);
}
/** navbar **/
#navbar{
    background-color: var(--background-color-dark);
    height: 3.2rem;
    /* padding: 0.2rem; */
    padding-left: 1rem;
    align-items: center;
}
#navbar div{
    margin-right: 3rem;
}
/* blood hub logo  */
#blood-hub-logo{
    margin-right: auto!important;
}
#blood-hub-logo svg {
    width: 10rem;
    height: 10rem;
   
}
/* nav links */
.nav-links a{
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--text-font);
}
/**find blood button**/
#find-blood-button{
    height: 4rem;
    width: 33rem;
    left: 50%;
    top: 50%;
    position: absolute;
    background-color: var(--color-bright);
    border-radius: 3rem;
    transform: translate(-50%,-50%);
    /* box-sizing: border-box; */
    padding: 1rem;
    font-size: 1.5rem;
}

#find-blood-button a{
    text-decoration: none;
    color: var(--text-dark);
    box-sizing: content-box;
    border: none;
    /* font-family: var(--text-font)!important; */
    background-color: inherit;
    font-weight: 600;
    padding: 0;
    font-size: 2.5rem;
    margin-right: 2rem;

}
/* utility classes */
.round-corners{
    border-radius: 3rem;
}
.flex-row{
    display: flex;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}
