* { box-sizing: border-box; }
:root{
    --background-color-dark: #000000;
    --background-color-light: #323232;
    --text-color: #ffffff;
    --color-bright: #7FCD91;
    --text-font: 'quicksand';
}
body{
    margin: 0;
    padding: 0;
    height: 99vh;
    background-color: var(--background-color-dark);
    
}
/**navbar**/
#navbar{
    background-color: var(--background-color-light);
    height: 3.2rem;
    /* padding: 0.2rem; */
    padding-left: 1rem;
    align-items: center;
}
#navbar div{
    margin-right: 3rem;
}
/* blood hub logo  */
#blood-hub-logo{
    margin-right: auto!important;
}
#blood-hub-logo svg {
    width: 10rem;
    height: 10rem;
   
}
/* nav links */
.nav-links a{
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--text-font);
}
/* search blood form */
#search-blood-form{
    margin: auto;
    margin-top: 5rem;
    width: 40%; 
    height: 70%;
    border-radius: 2rem;
    /* justify-content: space-evenly; */
    background-color: var(--background-color-light);
    font-family: var(--text-font);
    font-size: 1.2rem;
}
/* form elements */
.form-element{
    margin: 1.3rem;
}
.form-element .form-element-heading{
    margin-bottom: 0.5rem;
    color: var(--text-color);
}
/* form submit button  */
#form-submit-button input{
    background-color: var(--color-bright);
    border: none;
    border-radius: 2rem;
    height: 3rem;
    width: 10rem;
    font-size: 1.5rem;

}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }
input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
  }
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }

/* utility classes */
.round-corners{
    border-radius: 3rem;
}
.flex-row{
    display: flex;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}
